*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
header{
    width: 100%;
    height: 160px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}
.logo img{
    width: 68px;
    height: 72px;
    object-fit: cover;
    display: block;
}
.logo a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list{
    display: flex;
    
}
.navbar-item{
    list-style: none;
    margin-right: 112px;
}
.navbar-link{
    text-decoration: none;
    color: #818181;
    font-size: 15px;
}
.navbar-list li:first-child{
    margin-left: 82px;
}
.navbar-list li:first-child > a{
    color: rgb(249, 158, 100); 
}
.navbar-link:hover {
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.left{
    flex-basis: 28%;
    margin-right: 60px;
}
h1{
    font-size: 50px;
    font-weight: 400;
}
h3{
    font-size: 30px;
    font-weight: 400;
}
p{
    font-size: 16px;
    text-align: left;
}
.right{
    flex-basis: 28%;
}
img{
    width: 390px;
    height: 390px;
    object-fit: cover;
    
}
.link{
    text-align: center;
    display: block;
    width: 230px;
    height: 60px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #f99400;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    line-height: 60px;
}
.link:hover{
    background-color: black;
    color: #f99400;
}
.title{
    font-size: 13px;
}
.link, .title {
    margin-left: 68px;
}
.left-bottom{
    margin-top: 226px;
}
.right-bottom{
    margin-top: 220px;
}
.left-bottom h2{
    font-size: 24px;
    font-weight: 500;
}
.left-bottom p,
.right-bottom p{
    margin-top: 45px;
    line-height: 24px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78px;
    background-color: rgb(238, 238, 238);
    margin-top: 212px;
}
.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: black;
}
.social a:hover{
    color: #777;
}
